body {
    font-family: 'Comfortaa', cursive;
    font-size:1em;
}
html body > div {
//    display: flex;
    ul {
        margin:0 25%;
        list-style: none;
        width: 50%;    
        a {
            text-decoration: none;
        }
    }
}
.neuzort, .cards2 {
    display: none;
}