body {
    font-family: 'Comfortaa', cursive;
    font-size:1em;
}
div {
    ul {
        margin:10% 25% 0 25%;

        list-style: none;
        width: 50%;  
        li {
            margin-bottom: 5%;
        }
        a {
            text-decoration: none;
        }
    }
}
.neuzort, .cards2, .cards, .exist {
    display: none;
}
