body {
    background: url(ps.png);
    padding-top: calc(45vh - 235px); 
    min-height: 550px;  
    font-size: 25px; 
    font-family: 'Roboto Mono', monospace;
    position: relative;
}
.wrapper {
    padding: 20px;
    margin: auto;
    min-width:480px;
    width:30%;
    height:470px;
    a {
        text-decoration: none;
        background: #000;
        color: #fff;
        padding: 0 5px;
    }
    li {
        margin-bottom:15px;
    }
}
.langSelect {
    position: absolute;
    left:20px;
    top:20px;
    width:100px;
    span {
        padding:0 5px;
        cursor: pointer;
    }
    .selected {
        background: #000;
        color: #fff;
        cursor: auto;
        transition: all 1s;
    }
}
.disappeared {
    opacity: 0;
    transition: 0.4s;
}
@media screen and (max-device-width: 750px) {
    body {
        padding: 20px;
        min-height: 100%;
        font-size: 24px;
        line-height: 150%;
    }
    .wrapper {
        padding: 0;
        margin: 0;
        min-width: auto;
        width: auto;
        height: auto;
        p {
            margin: 10px 0;
        }
    }
    .langSelect {
        top: auto;
        left: calc(50% - 50px);
    }
}