body {
    background: #eee;
    font: 14px/20px Arial, Tahoma, Helvetica, sans-serif;
}
header , footer, body {
    min-width: 1000px;
}
a {
    text-decoration: none;
    color: inherit;
}

/*  **************** Хедер*/

header {
    margin-bottom: 20px;
    position: relative;
}
.signIn {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    height:35px;
    vertical-align: middle;
    color: #646464;
    font-size:13px;
}
.signIn span {
    line-height: 35px;
}
.location {
    background: url(../img/map-marker.svg) no-repeat;
    background-position: 0 center;
    float: left;
    height: 100%;
    width: 25px;
}
.phone {
    background: url(../img/phone.svg) no-repeat;
    background-position: 0 center;
    height: 100%;
    width: 25px;
    float: left;
    margin-left: 15px;
}
.signIn > span {
    float:left;
}
.enter {
    display: flex;
    align-items: center;
    float: right;
}
.signIn .green {
    background: #83b880;
    height: 100%;
    line-height: 35px;
    padding: 0 15px;
    color:#fff;
    float:right;
}
.green:hover {
    color: #000;
    background: #e4e4e2;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.enter {
    position: relative;
}
.enter .user {
    margin-left:15px; 
    margin-right: 5px;
    background: url(../img/user.svg) no-repeat;
    width: 22px;
    height: 22px; 
}
.enter .arrow {
    margin-right:15px; 
    margin-left: 5px;
    background: url(../img/arrow.svg) no-repeat;
    width: 13px;
    height: 12px;
    background-position: 0 -15px;
}
.signIn > a[href^="http"] {
    border-radius: 50%;
    background: #e4e4e2 !important;
    padding: 4px 8px;
    font-size:23px;
    position: absolute;
    right:1%;
    top:calc(35px / 2 - 14px);
}
.frame1 {
    display: none;
    position: absolute;
    padding: 20px 35px;
    width: 100%;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);
    background: #fff;
    top:35px;
    right: 0;
    z-index: 2;
    width: 320px;
    color:#c9d2db;    
}
.frame1 form {
    display: block;
    width:100%;
}
.trel {
    width:0;
    border-left:7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 8px solid #fff;
    position:absolute;
    top:-8px;
    right:20px;
    z-index: 1;
}
.frame1 .cab {
    width:100%;
    font-size: 15px;
    color: #363636;
    margin-bottom: 15px;
    font-weight:bold;
}
.frame1 .login {
    height: 35px;
    width: 100%;
    padding-left:10px;
    box-sizing: border-box;
    border: 1px solid #c9d2db;
    margin-bottom:10px; 
}
.frame1 .password {
    height: 35px;
    width: 100%;
    padding-left:10px;
    box-sizing: border-box;
    border: 1px solid #c9d2db;
    margin-bottom:10px; 
    position: relative;
}
.frame1 .button2 {
    position: absolute;
    right: 45px;
    top: 110px;
    color: gray;
    background: none;
    border:none;
    cursor: poiner;
}
.frame1 label {
    color:Navy;
    margin-left: -150px;
}
.frame1 form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.frame1 .button3 {
    height: 32px;
    color: #fff;
    cursor: pointer;
    cursor: pointer;
    padding: 0 15px;
    background: #73a2b9;
    border-radius: 2px;
    border: none;
    line-height: 32px;   
}
.social {
    margin:20px 0 10px 0;
    padding-top:10px; 
    border-top: 2px solid #e4e4e2;
}
.enter:hover .frame1{
    display: block;
}
.search {
    background: #fff;
}
.search > div {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    height: 80px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search > div img {
    width: 145px;
    height: 74px;
}
.search > div > div {
    display: flex;
    align-items: center;
    width: 120px;
    height: 45px;
    background: #EBEEEF;
    margin-left:15px; 
}
.search > div > div:hover {
    background: #ffe085;
}
.search .small {
    display: none;
}
.basket {
    background: url(../img/icons-new.png) no-repeat;
    width: 45px;
    height: 45px;
    background-position: 0 -224px;
    margin-left: 5px;
}
.orders {
    background: url(../img/icons-new.png) no-repeat;
    width: 45px;
    height: 45px;
    background-position: 0 -268px;
    margin-left: 5px;
}
.search form {
    margin-left: 2%;
    width:59%;
    position: relative;    
}
.searchInput {
    height:45px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 55px 0 20px;
    background: #f5f5f5;
    border-radius: 25px;
    border:1px solid #b4c5c5;
    outline: none; 
    font-size: 16px;
}
.searchInput::-webkit-input-placeholder {
    color:rgba(0,0,0,0.5);
}
.button{
    width: 40px;
    height: 44px;
    position: absolute;
    top: 0;
    right: 20px;
    background: url(../img/search.svg) no-repeat;
    background-position: center;
    border: none;
}
.menu > div {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    height:45px;
    background: #256892;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-weight: bold;
}
.menu {
    background:#256892; 
    position: relative;
}
.menu ul {
    display: flex;
    margin-left: 35px;
}
.menu ul li {
    margin-right: 20px;
    position: relative;
    cursor: pointer;
}
.menu .lines {
    background: url(../img/mainmenu-icon.svg) no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -35px;
}
.lines:hover .frame3 {
    display: block;
}
.menu > div > div {
    display: flex;
    align-items: center;
    background: #cc5e5e;
    padding-left: 15px;
    position: relative;
}
.menu .arrow {
    background: url(../img/icons-new.png) no-repeat;
    width: 40px;
    height: 45px;
    background-position: -10px 0;
    margin-left:15px;
}
.menu > div > div:hover .frame2 {
    display: block;
}
.frame2 {
    display: none;
    position: absolute;
    top:45px;
    right: 0;
    width: 450px;
    color:#6d6d6d;
    font-size:11px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
}
.frame2 .row1 {
    background: #f5f5f5;   
    padding: 10px 15px 6px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.frame2 .row1 > div {
    display: flex;
    align-items: center;
}
.frame2 .toggle {
    display: inline-block;
    background: url(../img/blocks-toggle.png) no-repeat;
    width: 20px;
    height:20px;
    background-position: -42px 0;
    margin-left:10px;
}
.frame2 .row2 {
    padding: 10px 15px 6px 15px;
    height: 44px;
    background: #fff;
}
.frame2 .row2 p {
    font-style: italic;
}
.frame2 .row2 span {
    margin-left: 10px; 
    color:#256892;
    font-style: normal;
}
.frame3 {
    border: 1px solid rgba(0, 0, 0, 0);
    color:#000;
    position: absolute;
    top:32.5px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);
    background: #fff;
    z-index: 2;
    padding: 20px;
    width: 1000px;
    display: none;
}
.frame3 ul {
    float:left;
    padding: 0;
    padding-right: 5%;
    margin: 0;
    display: block;
    font-weight: normal;
    color:#636363;
}
.frame3 li {
    margin-right:0 !important;
    padding: 0;
    margin-bottom:10px;
    min-width: 145px;
    max-width: 145px;
}
.frame3 li:first-child {
    font-size: 15px;
    font-weight: 600;
}
.frame3 .green {
    display: inline-block;
    border-bottom: 2px solid #27eca3;
    min-width: 0;
    width: auto !important;
}
.frame3 .yellow2 {
    border-bottom: 2px solid #d4c306;
}
.frame3 .purple2 {
    display: inline-block;
    border-bottom: 2px solid #cd06d4;
    min-width: 0;
    width: auto !important;
}
.frame3 .red {
    display: inline-block;
    border-bottom: 2px solid #d02a1f;
    min-width: 0;
    width: auto !important;
}
.frame3 .gray {
    display: inline-block;
    border-bottom: 2px solid rgba( 5, 5, 5, 0.102 );
    min-width: 0;
    width: auto !important;
}
/* ******************************************************************** Каталог*/

.wrapper {
    display: flex;
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
}
.wrapper div {
    margin-bottom: 20px;
}
.column1 {
    width:80%;
    display: flex;
    flex-wrap: wrap;
    margin-right:20px;
}
.column2 {
    width:20%;
}
.column2 > div {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); 
}
.column1 > div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.column1 div img {
    margin: 0 auto;
}
.catalog {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    background: #fff;
    padding: 2%;
    width: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.catalog li {
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 5%;
}
.catalog li a {
    width: 100%;
}
.catalog ul {
    padding-right: 4%;
    width:12%;
}
.catalog span {
    margin-left:-19px;
    position: absolute;
    color: #e67a7d;
    font-weight: bold;
}
.catalog ul:last-child li:last-child {
    color: gray;
}
.block {
    position: relative;
    margin-right: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.block p {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 8%;
    font-size: 16px;
}
.block1 {
    background: radial-gradient(ellipse at center, #91ddd2 0%, #5ec0b6 100%);
    width:40%;
    height:200px;
}
.block1 p {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 8%;
    color: #fff;
    font-size: 16px;
}
.block2 {
    width: calc((100% - 40% - 40px) / 2);
    height: 200px;
    background: #fff;
    color: #363636;
}
.block3 {
    width: calc((100% - 40% - 40px) / 2);
    background: #fff;
    height: 200px;
}
.block3 ul {
    width: 100%;
    color: #363636;
}
.block3 li  {
    padding: 10px 5%;
    border-bottom: 1px solid #e4e4e2;
}
.noMargin {
    margin-right: 0;
}
.yellow {
    background: radial-gradient(ellipse at center, #ffd44b 0%, #ffaf00 100%);
}
.purple {
    background: radial-gradient(ellipse at center, #c294c0 0%, #8e589c 100%);
}
.rose {
    background: radial-gradient(ellipse at center, #f7b1b3 1%, #f06476 100%);
}
.popular {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 1%;
   
}
.popular > span {
    margin-bottom: 2%;
    color:#929292;
    font-weight: 00;
    cursor: pointer;
}
.popular > span:first-child {
    width:70%;
    font-size: 18px;
    color:#7c7c7c;
    font-weight: bold;
}
.popular > div {
    width:calc(100% / 3 - 2px); 
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    cursor: pointer;
    border-right:1px solid #e4e4e2;
}
.popular > div:last-child {
    border-right:none;
}
.popular div img {
/*    max-height: 100px;*/
}
.popular > div p {
    margin: 0 auto;   
}
.popular > div div {
    margin: 0 auto;
    text-align: center;
}
.news {
    width: 100%;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 2%;
    color:#363636;
}
.news ul {
    display: flex;
    width: 100%;
}
.news li {
    margin-right:4%;
    border-bottom: 3px solid #e4e4e2;
    font-size:16px;
    color:#256892;
}
.news li:hover {
    border-bottom: 3px solid #e67a7d;
    color:#000;
}
.news img {
    float: left;
    padding-right: 20px;
    max-height: 100px;
    width: 120px;
}
.news > div > div {
    width:45%;
    padding: 1%;
}
.news div span {
    color:#c54141;
    font-weight: 600;
    font-size:11px;
}
.news > a {
    display: block;
    color:#929292;
    font-size:11px;
    font-weight: bold;
    margin-left:90%;
}
.news > div {
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    width:100%;
}
.column2 div {
    background: rgb(233, 241, 249);
    padding: 5% 0 5% 5%;
}
.column2 div:last-child {
    background: #ffeac4;
    border: 5px solid #f7d599;
}
.column2 li {
    color:#256892;
    margin-bottom: 5%;
}
.column2 li:first-child {
    color:#c54141;
    font-weight: bold;
}

/* ************  Футер */

footer {
    background: #d9e5e8;
    padding: 20px 0 0 0;
}
footer div {
    width:90%;
    margin:0 auto;
    display: flex;
}
footer ul {
    margin-right:5%;
    width:20%;
}
footer li {
    width:100%;
    color:#717584;
    margin-bottom: 1%;
    font-size:13px;
}
footer li:first-child {
    color:#505050;
    font-weight: bold;
    font-size:14px;
}
footer .row2 {
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid #c5d1d7;
    padding:20px 0 15px 0;
}
footer .row2 p {
    color:#256892;
}
footer .row2 p:last-child {
    color:#C54141;
}
footer .row2 span {
    display: inline-block;
    padding:5px 20px 5px 20px;
    color:#fff;
    background: #9cb6c3;
    margin-left:25px;
}
footer .row3 {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 40px 0;
}
footer .row3 div {
    display: flex;
    align-items: center;
}
footer .row3 div:last-child {
    justify-content: flex-end;
}
.partner {
    display: none !important;
}