@media screen and (max-device-width: 750px) {
    header , footer, body {
        min-width: 0;
    }
    .signIn {
        width:100%;
        margin: 0;
        padding-left: 20px;
    }
    .displayNone {
        display: none !important;
    }
    .search .large {
        display: none;
    }
    .search .small {
        display: block;
        width: 55px;
        height: 51px;
    }
    .search > div {
        width: 100%;
        padding: 0 10px 0 10px;
        margin: 0;
        box-sizing: border-box;
    }
    .basket {
        background-position: 2px -224px;
    }
    .search > div  div{
        width: 45px;
        margin-left: 0;
        border-radius: 50%;
    }
    .search > div > div {
        margin-left:10px;
    }
    .menu > div {
        margin: 0;
        width: 100%;
        padding-left:10px;
        box-sizing: border-box;
    }
    .menu > div > ul li {
        display: none;
    }
    .menu > div > ul li:first-child {
        display: block;
    }
    .menu .lines {
        bottom:-10px;
    }
    .wrapper {
        width: 100%;
        padding: 0 10px 0 10px;
        box-sizing: border-box;
    }
    .wrapper .column1 {
        width: 100%;
        margin: 0 auto;
    }
    .wrapper .block {
        display: none;
    }
    .wrapper .catalog {
        flex-wrap: wrap;
        padding: 25px 45px;
        justify-content: flex-start;
    }
    .wrapper ul {
        width: 45%;
    }
    .popular {
        display: block;
    }
    .popular > span {
        width: 100%;
        padding-left: 70%;
        box-sizing: border-box;
    }
    .popular > span:first-child{
        width: 100%;
        padding-left:0;
    }
    .popular > div {
        margin: 0 auto;
        border: none;
        width: auto;
    }
    .news ul {
        flex-wrap: wrap;
        width: 100%;
    }
    .news li {
        width:auto;
    }
    .news > div {
        flex-direction: column;
        box-sizing: border-box;
        padding: 20px 0;
    }
    .news > div > div {
        width: 100%;
        margin-bottom: 10px;
    }
    .news > div > div img {
        height: 100%;
    }
    .news > a {
        width: 100px;
    }
    .news > a {
        margin-left: 75%;
    }
    footer {
        width: 100%;
    }
    footer > div ul {
        display: none;
    }
    .partner {
        display: block;
    }
    .partner ul {
        display: block;
        width: 100%;
        padding-left:20px;
    }
    footer li:first-child {
        color:#717584;
        font-weight: normal;
        font-size:13px;
    }
    footer .row2 {
        flex-direction:column;
        align-content: center;
        text-align: center;
        border: none;
        padding-bottom: 0;
    }
    footer .row2 p {
        width: 100%;
        margin-bottom: 20px;
    }
    footer .row2 span {
        width: 100%;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        margin-top: 10px;
    }
    footer .row3 {
        padding-top: 0;
        flex-direction:column;
    }
    footer .row3 div {
        display: block;
        text-align: center;
    }
    footer .row3 > div span {
        display: block;
        margin-bottom: 10px;
        color: gray;
    }
    .frame2 {
        width: 300px;
    }
    .frame3 {
        width:auto;
    }
    .frame3 .partner li {
        display: block;
        border-bottom: 1px solid #e4e4e2;
        font-size: 15px;
        font-weight: 600;
        padding: 5px;
    }
    .frame3 .partner li:last-child {
        border-bottom: none;
        margin-bottom: 0;
    }
    .frame1 {
        width: auto;
    }
    .frame1 label {
        margin-left: -85px;
    } 
    .catalog + .partner {
        width: 100%;
        margin-bottom: 0;
    }
    .catalog + .partner > div {
        background: #fff;
        width: 100%;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
    }
    .catalog + .partner > div ul {
        width: 100%;
        padding-left: 0;
    }
    .catalog + .partner > div li {
        box-sizing: border-box;
        padding: 10px 20px;
        box-sizing: border-box;
        border-bottom: 1px solid #e4e4e2;
        width: 100%;
        color:#363636;
    }
    .catalog + .partner > div li:last-child {
        border-bottom: none;
    }
    .catalog + .partner > div li:first-child {
        font-size: 20px;
        border-bottom: none;
    }
    .catalog + .partner > div .green {
        border-bottom: 2px solid #5fc1b6;
    }
    .catalog + .partner > div .yellow {
        border-bottom: 2px solid #ffaf00;
        background: none;
    }
    .catalog + .partner > div .purple {
        border-bottom: 2px solid #97589e;
        background: none;
    }
    .catalog + .partner > div .red {
        border-bottom: 2px solid #f06476;
    }
    .partner2 {
        display: block !important;
    }
    details {
        border-bottom: 1px solid #c5d1d7;
        padding: 5px 0;
        height: auto;
        
    }
    summary {
        outline: 0;
        color:#717584;
        font-weight: bold;
    }
    details[open] SUMMARY ~ * {
        animation: sweep 1s ease-in-out;
    }
    @keyframes sweep {
        0%    {opacity: 0; margin-left: -10px}
        100%  {opacity: 1; margin-left: 0px}
    }
    summary::-webkit-details-marker {
        display: none
    }
    details summary:after {
        transition:  background ease 0.5s , transform ease 0.5s;
    }
    details:not([open]) summary:after {
        background: url(../img/icons-new2.png) -20px -867px no-repeat;
        content: "+";
        width: 13px;
        height: 16px;
        float: left;
        color: rgba(0,0,0,0);
    }
    details[open] summary:after {
        color: rgba(0,0,0,0);
        content: "-";
        transform: rotate(90deg);
        height: 16px;
        width: 13px;
        float:left;
        background: url(../img/icons-new2.png) -15px -867px no-repeat;
        
    }
    
    details {
        transition: height 1s ease;
    }
    details:not([open]) { height: 20px; }
    .details1[open] { height: 165px; }
    .details2[open] { height: 187px; }
    .details3[open] { height: 235px; }
    .details4[open] { height: 211px; }
    .details5[open] { height: 140px; }
}